<h1>New Shopping Item</h1>

<form action="/shopping_items" method="POST">
	
	<label for="title"> Title: </label>
	<input type="text" name="title" placeholder="Item Title">

	<label for="body"></label>
	<textarea name="body" placeholder="Item Body"></textarea>

	<input type="submit" value="save">

</form>